.comment {
    height: 41.7rem;
    width: 0;
    position: fixed;
    z-index: 1;
    background: white;
    right: 0;
    margin-top: -20px;
    overflow: scroll;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.50);
}
.comment .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
}
.openbtn {
     font-size: 20px;
     cursor: pointer;
     background-color: #111;
     color: white;
     padding: 10px 15px;
     border: none;

}
.openbtn:hover {
    background-color: #444;
}
