.btn-close {
    font-size: 18px;
    border: none;
    background: none;
    width: 15px;
    margin-top: 1%;
    margin-left: 95%;
    cursor: pointer;
}
.merge-close{
    font-size: 18px;
    border: none;
    background: none;
    width: 15px;
    margin-top: 1.2%;
    margin-left: 96.3%;
    cursor: pointer;
}
.submitmerge-btn{
    margin-left: 93%;
}
.submitmerge-update-btn {
    margin-left: 91%;
}
.submit-btn{
    margin-left: 87%;
}
.user-modal {
    width: 38rem !important;
}
.merge-model{
    margin-left: -48% !important;
    width: 65rem !important;
    margin-top: -27px;

}
.form-white{
 border-radius: 13px !important;
 /* border-color: rgba(168, 166, 166, 0.589) !important; */
}
/* Comment side bar css */
.comment_p label {
    color: rgb(10, 14, 117);
    font-size: 20px;
    font-weight: 600;
}

.comment_p p {
    font-size: medium;
    color: #000000;
}

#reject_comment {
    display: none;
}

.comment-text1 textarea {
    margin: 2% 0 0 0%;
    height: 110px;
}
.comment-text textarea {
    margin: 2% 0 0 5%;
    width: 75%;
    height: 150px;
}

.reject-commend textarea {
    height: 120px;
}

.comment-snd {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 80%;
    margin-top: -8%;
    font-size: 18px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 10px 18px #888888;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
